.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.aspect-ratio {
  width: 20%;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #2f2f2f;
}

.bg-image {
  aspect-ratio: 1/1;
  background-image: url("images/balloon.jpg");
  background-size: cover;
  background-position: 20% 30%;
  background-repeat: no-repeat;
}
