body {
  margin: 0;
  padding-top: 25px;
  color: #fff;
  font: 1.3em/1.6 sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 4rem);
  row-gap: 2rem;
}

.header {
  background: #34495e;
}

.logo {
  font-size: 1.2em;
}

.menu {
  display: flex;
}

.navigation a {
  display: block;
  padding: 0.5em;
  border-right: 1px dotted;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.7em;
  line-height: 1rem;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation a:last-child {
  border-right: none;
}

.content {
  flex-grow: 1;
}

.main {
  background: #3498db;
}

.secondary {
  background: #2ecc71;
}

.extra {
  background: #e74c3c;
}

.footer {
  background: #95a5a6;
}

.header,
.footer,
.col {
  padding: 1em;
  border-radius: 0.5em;
}

@media only screen and (min-width: 481px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main {
    width: 100%;
  }
  .secondary {
    width: 64%;
  }
  .extra {
    width: 34%;
  }
}

@media only screen and (min-width: 800px) {
  .main {
    width: 50%;
  }

  .secondary,
  .extra {
    width: 23%;
  }
}

@media only screen and (min-width: 1200px) {
  .secondary {
    order: 1;
  }
  .extra {
    order: -1;
  }
}
